<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/convertidor4.js"></script>
</head>
<nav>
    <ul>
        <li><a href="../indexhome.html">Inicio</a></li> 
    </ul>
</nav>
<body>
    <table border="1">
        <thead>
            <th colspan="4">Convertir Libras(LB) a Kilogramos(KG)</th>
        </thead>
        <tbody>
            <tr>
                <td>Cantidad</td>
                <td colspan="3"><input type="number" name="txt_n1" class="txt_n1"></td>
        </tbody>
        <tfoot>
            <td>
                <center>
                    <button class="evento_convertir">Convertir</button>
                </center>
            </td>
            </tr>
        </tfoot>
    </table>
    <div class="resultadoConvertir"></div>
</body>

</html>